<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="adminName" value="Romain"/>
    <add key="adminEMail" value="rfvincent@outlook.fr"/>
    <add key="emotionKey" value="a1e21a3ee71a410496032dacba6a2a81"/>
    <add key="textAnalyticsKey" value="6fabca70b5ab4242b5480721fa2de9b1"/>
  </appSettings>
</configuration>